In [1]:
import pandas as pd
import seaborn as sns

In [2]:
 df = pd.read_csv(r'C:\Users\Dell\Downloads\dataset_2.csv')

In [3]:
df.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.shape

(590540, 394)

In [5]:
df.dtypes

TransactionID       int64
isFraud             int64
TransactionDT       int64
TransactionAmt    float64
ProductCD          object
card1               int64
card2             float64
card3             float64
card4              object
card5             float64
card6              object
addr1             float64
addr2             float64
dist1             float64
dist2             float64
P_emaildomain      object
R_emaildomain      object
C1                float64
C2                float64
C3                float64
C4                float64
C5                float64
C6                float64
C7                float64
C8                float64
C9                float64
C10               float64
C11               float64
C12               float64
C13               float64
                   ...
V310              float64
V311              float64
V312              float64
V313              float64
V314              float64
V315              float64
V316              float64
V317              float64
V318              float64
V319              float64
V320              float64
V321              float64
V322              float64
V323              float64
V324              float64
V325              float64
V326              float64
V327              float64
V328              float64
V329              float64
V330              float64
V331              float64
V332              float64
V333              float64
V334              float64
V335              float64
V336              float64
V337              float64
V338              float64
V339              float64
Length: 394, dtype: object

In [6]:
target_feature = df.isFraud

In [7]:
import numpy as np

In [ ]:
categorical_features = df.select_dtypes(include = np.object).columns
numerical_features = df.drop('isFraud', axis = 1).select_dtypes(include = np.number).columns

print(categorical_features)
print(numerical_features)

In [ ]:
sns.countplot(df['isFraud'])

In [ ]:
print("{}% of the data having class 1".format(len(df[df.isFraud == 1])/len(df) * 100))
print("{}% of the data having class 0".format(len(df[df.isFraud == 0])/len(df) * 100))

In [ ]:
df_missing = df[numerical_features].isnull().sum()
df_missing/len(df) * 100

In [ ]:
df[df.V300.isnull()].head() # to check where V300 is null...

In [ ]:
df[(df.V300.isnull()) & (df.V299.isnull())].head()

In [ ]:
df.isnull().sum()

In [ ]:
is_null = df.isnull().sum() / len(df)
missing_features = is_null[is_null > 0.70].index
df.drop(missing_features, axis=1, inplace=True)

In [ ]:
nulls = df.isnull().sum()/len(df)
nulls[nulls < 0.70].index
df.fillna(df.median(), inplace=True)